.MainLayout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background: var(--background);
}
.container {
  padding: 10px;
  height: calc(100vh - 160px);
  overflow: auto;
  background: var(--background);
}
